<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.username">root</property>
        <property name="connection.password">xfsy2017</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/blog?useUnicode=true&amp;characterEncoding=UTF-8</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <!-- validate -->
        <!--<property name="hibernate.default_schema"></property>--><!-- 默认的数据库 -->

        <mapping class="com.xfsy.web.blog.entity.Tag"></mapping>
        <mapping class="com.xfsy.web.blog.entity.Essay"></mapping>
    </session-factory>
</hibernate-configuration>